
*{
    margin: 0;
    padding: 0;
}

.canvas_container{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid black; */
}

.canvas_container canvas{
    /* background-color: black; */
}

.canvas_container .btns{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    align-items: center;
}

.btns button{
    padding: 8px 20px;
    border-radius: 40%;
    border: 0.2;
}
.btns i{
    font-size: 30px;
    color: deepskyblue;
}